.journey-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  overflow: hidden;
}

.journey-heading {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 2px solid #444;
}

.kanda-sections {
  height: 90vh;
  display: flex;
  /* flex-direction: column; */
}

.kanda-btn {
  position: relative;
  flex: 1; /* divides remaining 90vh equally into 7 parts */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.kanda-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* black overlay with 50% opacity */
  z-index: 1;
}

.kanda-btn h2 {
  z-index: 2;
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem 0 0 0;
}

.kanda-btn p {
  z-index: 2;
  font-size: 10px;
  margin-top: 8px;
  text-align: center;
  padding: 0 10px;
}

.kanda-btn:hover::before {
  background-color: rgba(0, 0, 0, 0); /* overlay becomes transparent */
}

@media (max-width: 768px) {
  .kanda-btn {
    font-size: 1.2rem;
  }

  .journey-heading {
    font-size: 1.5rem;
  }
}
